/* general rules ------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* i font principali ('SST W20 Medium' e "sst") sono di SONY a pagamento, 
    ma usiamo le alternative websafe come ref su sito reale
    volendo introdurre i ragazzi al @fontface, c'è pare una versione free per uso personale qui: https://www.cufonfonts.com/font/sst */
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #fff;
}

    /* comportamento base della maggior parte dei link */
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}




    /* centralizziamo ciò che si può */
.btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: #0061ff;
    color: #fff;
    text-decoration: none;
}
.btn:hover{ /* semplifichiamo hover per tutti*/
    text-decoration: none;
    background-color: #3b85ff;
}

    /* ipotizziamo di avere un tot di varianti simili nel sito quindi centralizziamo */
.btn.white {
    border: solid 1px #000;
    background-color: #fff;
    color: #000;
}
.btn.white:hover{
 background-color: #f5f5f5;
}




/* header  ------------- */
    /* font-family: helvetica, arial, sans-serif; */




/* jumbotron */








/* footer  ------------- */
