/* general rules ------------- */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  settato già dalla libreria*/

body{
    /* i font principali ('SST W20 Medium' e "sst") sono di SONY a pagamento, 
    ma usiamo le alternative websafe come ref su sito reale
    volendo introdurre i ragazzi al @fontface, c'è pare una versione free per uso personale qui: https://www.cufonfonts.com/font/sst */
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #fff;
}

    /* comportamento base della maggior parte dei link */
a, a:hover {
    text-decoration: none;
}

    /* cambiamo ciò che di BS sarà sempre diverso in tutto il nostro progetto */

    /* bottoni */
.btn {
    border-width: 2px;
    border-radius: 40px;
}
    /* trik bordo interno (xbrowser ??)  */
.btn:hover {
    border: 2px solid #999;
    box-shadow: inset 0px 0px 0px 2px #fff;
}

.btn-secondary {
    background-color: #363636;
    border-color: #363636;
}
.btn-secondary:hover {
    background-color: #5c636a;
    border-color: #5c636a;
}

.btn-danger {
    background-color: #cd3d0f;
    border-color: #cd3d0f;
}
.btn-danger:hover {
    background-color: #cd3d0f;
    border-color: #cd3d0f;
    box-shadow: inset 0px 0px 0px 2px #000;
}



/* ------ ogni id o class custom (quindi non di BS) inizia con "cs-" ---------- */




/* header  ------------- */
header{
    font-family: helvetica, arial, sans-serif;
    height: 100px;
    background-color: #fff;
}

#cs-headup{
    height: 36px;
    background-color: black;
}

#cs-headup img {
    width: 75px;
    margin-right: 10px;
}


    /* personalizziamo ciò che ci serve, del componente navbar, 
    circoscrivendo all'header e/o aggiungendo nostre class dove serve 
    (usiamo stesse identiche selezioni che usa BS, ma circoscriviamo al notro header)
    */

header nav {
 height: 64px;
}
header .nav-item:not(.cs-cerca){
    margin-right: 10px;
}

    /* cambiamo comportamento base componente per avere dropdown relativi a header e non "li" */
header .dropdown, .dropend, .dropstart, .dropup {
    position: static;
}
    /* e averli a tutta larghezza */
header .dropdown-menu {
    width: 100%;
    text-align: center;
    border: none;
}
header .dropdown-menu[data-bs-popper]{
    margin-top: 0;
}
    /* e altri vari aggiustamenti sul layout voluto */
header .dropdown-menu li{
 display: inline-block;
 margin-right: 15px;
}
header .dropdown-item:focus, .dropdown-item:hover {
    color: #000;
    background-color: transparent;
}
header .dropdown-item img {
    display: block;
    height: 70px;
}
header .dropdown-item:hover {
    box-shadow: 1px 1px 6px 1px #999;
}
header .cs-divider {
    width: 100%;
}
header .cs-nav-lev3 span {
    color: #0070d1;
}
header .cs-nav-lev3 a {
    color: #000;
}
header .cs-nav-lev3 a:hover {
    color: #0070d1;
}

    /* regole links */
header .navbar-light .navbar-nav .nav-link {
 color: #000;
}
header .navbar-light .navbar-nav .nav-link:hover,  header .navbar-light .navbar-nav .nav-link.show {
    color: #0070d1;
}
header .dropdown-toggle::after{
    background-image: url("../img/chevron-down-solid.svg");
    color: #999;
    width: 10px;
    height: 10.5px;
    /* resettiamo BS rules */
    border: none;
    vertical-align: middle;
}
    /* trick per hover su icona personalizata */
header .dropdown-toggle:hover:after{
    background-image: url("../img/chevron-down-solid-hover.svg");
}


    /* nostra class "cerca" */
header nav .cs-cerca {
    margin-left: 10px;
}
header nav .cs-cerca img {
    height: 23px;
}

/* qualche aggiustamento versione mobile (seguendo il breakpoint di BS) */
@media screen and (max-width: 991px) {
    header .navbar .container-fluid {
        background-color: #fff;
    }
    header .nav-item:not(.cs-cerca){
        margin-right: 0;
    }
    header .dropdown-menu {
        width: 100%;
        text-align: left;
        border-top: solid 1px #999;
        border-bottom: solid 1px #999;
        border-radius: 0;
    }
    header nav .cs-cerca {
        margin: 15px 0;
        border: solid 1px #999;
    }
    header nav .cs-cerca img {
        height: 35px;
    }
    header .btn {
        margin-top: 15px;
        width: 50%;
    }
}



/* main  ------------- */
main {
    margin-top: 100px; /* per fixed header*/
}


/* jumbotron / carousel */
/* centralizziamo ciò che si può (ce ne sono di 3 tipi con parti simili) */

#cs-jumbo-1{

}

#cs-jumbo-1 .cs-jumbo-display {
    background-image: url("../img/jumbo-bg.png");
    padding: 250px 0 50px 0;
}
    /* jumbo display */
.cs-jumbo-display {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.cs-jumbo-display img {
    max-width: 60%;
    margin-bottom: 30px;
}

.cs-jumbo-display h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.cs-jumbo-display p{
    margin-bottom: 30px;
}

    /* jumbo grid */
.cs-jumbo-grid {
    padding: 30px 0;
}
.cs-jumbo-grid img {
    max-width: 100%;
    border-radius: 20px;
}
    /* aggiungiamo simulazione item attivo  */
.cs-jumbo-grid .cs-active {
    padding: 5px;
    background-color: #fff;
    border: solid 2px #0072ce;
}









/* footer  ------------- */
footer{
    background-color: #00439c;
    padding: 80px 0;
    font-size: 0.9rem;
    font-weight: 400;
}

footer a, footer a:hover {
    color: #fff;
}

footer .cs-logo {
    width: 96px;
    display: block;
    margin-bottom: 40px;
}
#cs-region {
    width: 20px;
    margin-right: 10px;
}

footer li {
    list-style-type: none;
    margin-bottom: 10px;
}

#cs-copy{
    color: #fff;
}
#cs-copy a, #cs-copy a:hover{
    text-decoration: underline;
}
#cs-copy img {
    height: 48px;
    margin-bottom: 10px;
}


